notifications:
  email: false

sudo: true

language: python

cache:
  - pip

python:
  - 3.6
  - 3.7

services:
  - docker

before_install:
  - travis_retry pip install reana-client cwltool

script:
  - reana-client validate 
  - cwltool --validate workflow/cwl/*  | grep 'is valid'
